:root {
	/* colours */
	--black: #000000;
	--white: #ffffff;

	/* fonts */

	/* widths */
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1 {
	color: green;
}

h2 {
	color:chocolate;
}