{% extends "base.html.twig" %}

{% block content %}

	<h2>Page Name: {{ page.pageName }}</h2>

	<p>Template (Value 1): {{ global.template }}</p>

	<p>You were really after: {{ global.value1 }}</p>

	{{ parent() }}

{% endblock %}