<br/>
<div class="container">

	<h1>Base template (Twig/Bootstrap)</h1>

	{% block content %}

		<h4>Global Vars</h4>
		<table class="table table-striped">
			<tbody>
				{% for key,value in global %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ value }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endblock %}

</div>