{% extends "base.html.twig" %}

{% block content %}

	<h2>Page Name: {{ page.pageName }}</h2>

	<p>Twig template (Page): {{ global.page }}</p>

	{{ parent() }}

	<div class="alert alert-primary" role="alert">

		<h4>DB:PDO:list:</h4>

		<ul>
		{% for names in page.result %}
			<li>{{ names.name }}</li>
		{% endfor %}
		</ul>

	</div>

{% endblock %}