{% extends "base.html.twig" %}

{% block content %}

	<h2>Page Name: {{ page.pageName }}</h2>

	<p>Template (Value 1): {{ global.template }}</p>

	{{ parent() }}

	<div id="app">
		<p>App Name: ${ appName }</p>
		<input class="form-control" type="text" v-model="appName" />
	</div>

{% endblock %}